<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body_block %}

<div class="jumbotron">
    <div class="container">
        <h1>Rules for the exam</h1>
        <p>Candidate should attend only one exam at a time.</p>
        <p>Candidate should attend only one exam at a time.</p>
        <p>Candidate should attend only one exam at a time.</p>
        <p>Candidate should attend only one exam at a time.</p>
        <p>Candidate should attend only one exam at a time.</p>
    </div>
</div>
{% endblock %}